.prompt{
    font-weight: bold;
}
.inputPhone{
    border: none;
    border-bottom: 1px solid black;
    background-color: lightgray;
    font-size: 1.5vw;
    margin-left: .2vw;
}
.phoneSubmit{
    background-color: firebrick;
    border: none;
    color: white;
    padding: .25vw .5vw;
    text-decoration: none;
    margin: .5vw 2vw;
    cursor: pointer;
    font-size: 1.5vw;
}