.info{
    padding: 1% 5% 1% 5%;
    font-size:1.5vw;
    float:none;
}

.header{
    font-size: 2.5vw;
    font-weight: bold;
    color:firebrick;
    margin: 1vmin;
}

.text{
    margin-left: .7vw;
    padding-left: 4%;
}