.map{
    align-items: center;
    height: 80vh;
    width: 80%;
    float:none;
    margin: 2% 10%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.map>div{
    position: absolute;
    width: 80%;
    height: 100%;
    display: inline-block;
}